* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #333;
    color: white;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo h1,
.logo h2 {
    transition: transform 0.3s ease, color 0.3s ease;
}

.logo h1:hover {
    transform: scale(1.05);
    color: #109eb8;
}

.logo h2:hover {
    transform: scale(1.05);
    color: #109eb8;
}
.social-links a {
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.contacts {
    display: flex;
    align-items: center;
    gap: 20px;
}
.contacts p {
    font-weight: 300;
    font-size: 14px;
    transition: transform 0.3s ease, color 0.3s ease;
}
.contacts p:hover {
    transform: scale(1.1); 
    color: #109eb8; 
}
.burger-menu {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.burger-menu:hover {
    transform: scale(1.2); 
    color: #109eb8; 
}

.social-links img {
    width: 35px;
    height: 35px;
    margin: 0 10px;
    filter: invert(1);
    transition: transform 0.3s ease, filter 0.3s ease;
}
.social-links img:hover {
    transform: scale(1.2);
    filter: invert(0.7) sepia(1) hue-rotate(180deg) saturate(3);
}

.contacts img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    filter: invert(1);
    transition: transform 0.3s ease, filter 0.3s ease;
}

.contacts img:hover {
    transform: scale(1.1);
    filter: invert(0.7) sepia(1) hue-rotate(180deg) saturate(3);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 2s ease-out;
}